#!/usr/bin/env bash
set -e

if [[ "$(uname)" == "Darwin" ]]; then
  formulae=(
    git
    neovim
    fzf
    lazygit
    ripgrep
    fd
  )

  casks=(
    visual-studio-code
    hammerspoon
  )

  # Install CLI tools
  for pkg in "${formulae[@]}"; do
    if ! brew list "$pkg" >/dev/null 2>&1; then
      brew install "$pkg"
    fi
  done

  # Install GUI apps
  for app in "${casks[@]}"; do
    if ! brew list --cask "$app" >/dev/null 2>&1; then
      brew install --cask "$app"
    fi
  done
fi
